.footers {
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.infos {
    width:200px;
}
.infos a {
    color:white;
    margin: 0 0 0 10%;
}

@media screen and (max-width:480px){
    .infos {
        margin-left: 40%;
    }
    .infos a {
        font-size: 40px;
    }
}